# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#


on boot



# Powersave
on property:persist.sys.aries.power_profile=low
    stop mpdecision
#    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
#    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 702000
#    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 810000
#    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1026000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1026000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1026000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1026000
    write /sys/class/leds/lcd-backlight/max_brightness 100
    start mpdecision
    stop thermald_h
    stop thermald_l
    start thermald_l
    # GPU
    stop midgpuvdd
    stop highgpuvdd
    start lowgpuvdd
    stop lowgpuvdd
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 320000000
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "ondemand"

# Balanced
on property:persist.sys.aries.power_profile=middle
    stop mpdecision
#    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
#    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 918000
#    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1026000
#    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1566000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1566000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1566000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1566000
    write /sys/class/leds/lcd-backlight/max_brightness 255
    start mpdecision
    stop thermald_h
    stop thermald_l
    start thermald_l
    # GPU
    stop lowgpuvdd
    stop highgpuvdd
    start midgpuvdd
    stop midgpuvdd
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 450000000
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "ondemand"

# Performance
on property:persist.sys.aries.power_profile=high
    stop mpdecision
#    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 918000
#    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1026000
#    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 60
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
#    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "performance"
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "performance"
#    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1890000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1890000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1890000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1890000
    write /sys/class/leds/lcd-backlight/max_brightness 255
    stop thermald_h
    stop thermald_l
    start thermald_h
    # GPU
    stop lowgpuvdd
    stop midgpuvdd
    start highgpuvdd
    stop highgpuvdd
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 558000000
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "performance"

service lowgpuvdd /system/bin/sh /system/etc/init.lowgpuvdd.sh
    class gpu_low
    disabled
    oneshot

service midgpuvdd /system/bin/sh /system/etc/init.midgpuvdd.sh
    class gpu_mid
    disabled
    oneshot

service highgpuvdd /system/bin/sh /system/etc/init.highgpuvdd.sh
    class gpu_high
    disabled
    oneshot

on property:persist.sys.display_prefer=0
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 2

on property:persist.sys.display_prefer=1
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 1

on property:persist.sys.display_prefer=2
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 2

on property:persist.sys.display_prefer=3
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 3

on property:persist.sys.display_ce=10
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 240

on property:persist.sys.display_ce=11
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 16
